<div>
    <h3>Criar nova categoria</h3>

    <form [formGroup]="form">
        <div class="form-group">
            <div class="image-preview">
                <img src="" alt="Prévia da imagem" class="image-preview-image">
            </div>
                
            <label for="category-image">Selecione uma imagem</label>
            <input #file type="file" name="category-image" accept=".png, .jpg, .jpeg" (change)="setImagePreview(file.files)">
        </div>
        <!--  -->
        <div class="form-group">
            <label for="">Nome Categoria</label>
            <input type="text" placeholder="Ex.: Suíte Master">
    
            <label for="">Valor Diária</label>
            <input type="text" placeholder="R$">
    
            <label for="">Descrição</label>
            <textarea name="" id="" cols="30" rows="4" placeholder="Ex.: Banheira, Frigobar, Cama casal..."></textarea>

            <button class="btn success">Criar categoria</button>
        </div>
    </form>
</div>