<h2 class="header">Gerar Relatórios</h2>
<!-- <h3>Opções</h3> -->
<div class="container">
    <div class="options-container">
        <div class="option">
            <div>
                <fa-icon [icon]="faCoins"></fa-icon>
            </div>
            <div>
                <h4>Finanças</h4>
            </div>
        </div>
        <!--  -->
        <div class="option">
            <div>
                <fa-icon [icon]="faChartLine"></fa-icon>
            </div>
            <div>
                <h4>Ocupação de quartos</h4>
            </div>
        </div>
        <!--  -->
        <div class="option">
            <div>
                <fa-icon [icon]="faUsers"></fa-icon>
            </div>
            <div>
                <h4>Funcionários</h4>
            </div>
        </div>
        <!--  -->
    </div>
</div>