<div id="container">
  <div class="aside" *ngIf="authService.token">
    <a routerLink="/">
      <img src="assets/unip-resort-logo.png" />
    </a>
    <!--  -->
    <div class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="item-title">Funcionários</div>
      </div>
      <!--  -->
      <div class="dropdown">
        <a routerLink="/funcionarios/cadastrar" class="item dropdown-item">
          Cadastrar
        </a>
        <!--  -->
        <a routerLink="/funcionarios/consultar" class="item dropdown-item">
          Consultar e modificar
        </a>
      </div>
    </div>
    <!--  -->
    <div class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faBed"></fa-icon>
        </div>
        <div class="item-title">Quartos</div>
      </div>
      <!--  -->
      <div class="dropdown">
        <a routerLink="quartos/administrar" class="item dropdown-item">
          Administrar quartos
        </a>
        <!--  -->
        <a routerLink="quartos/categorias" class="item dropdown-item">
          Categorias
        </a>
      </div>
    </div>
    <!--  -->
    <div class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faEmail"></fa-icon>
        </div>
        <div class="item-title">Email</div>
      </div>

      <div class="dropdown">
        <a routerLink="email/email-clientes" class="item dropdown-item">
          Clientes
        </a>

        <a routerLink="email/email-funcionarios" class="item dropdown-item">
          Funcionários
        </a>
      </div>
    </div>
    <!--  -->
    <div class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faTools"></fa-icon>
        </div>
        <div class="item-title">Manutenção</div>
      </div>
      <!--  -->
      <div class="dropdown">
        <a routerLink="manutencao/" class="item dropdown-item">
          Administrar Manutenções
        </a>
        <!--  -->
      </div>
    </div>
    <!--  -->
    <div class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faCog"></fa-icon>
        </div>
        <div class="item-title">Configurações</div>
      </div>
      <!--  -->
      <div routerLink="configuracoes/usuarios" class="dropdown">
        <a class="item dropdown-item"> Usuários </a>
        <!--  -->
      </div>
    </div>
    <!--  -->
    <a (click)="exit()" class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faDoor"></fa-icon>
        </div>
        <div class="item-title">Sair</div>
      </div>
    </a>
  </div>
  <!--  -->
  <div class="routes-container">
    <router-outlet></router-outlet>
  </div>
  <app-loader></app-loader>
</div>

<!-- 


      <div class="item">
      <div class="item-heading">
        <div class="item-icon">
          <fa-icon [icon]="faBook"></fa-icon>
        </div>
        <div class="item-title">
          Relatórios
        </div>
      </div>

      <div class="dropdown">
        <a routerLink="relatorios" class="item dropdown-item">
          Gerar Relatório
        </a>
      </div>
    </div>


    </div>

 -->
