form {
  display: flex;
  width: 500px;
  flex-direction: column;
}

img {
  margin: auto;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.74));
  filter: drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.74));
  background-color: transparent;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}

.fullbox,
.halfbox,
.halfbox-container {
  display: flex;
}

.fullbox,
.halfbox {
  flex-direction: column;
  padding: 3px;
  margin-bottom: 10px;
}

.fullbox {
  width: 100%;
}

.halfbox {
  justify-content: center;
  width: 50%;
}

label {
  margin-bottom: 5px;
  font-weight: 400;
}

input {
  padding: 5px;
  font-size: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  form {
    width: 95%;
  }
}
